/* Opšti stilovi */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #ffa07a, #ff4500); /* Gradijent pozadine */
  color: #fff;
  text-align: center;
}

/* Header */
header h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

/* Glavni sadržaj */
main .buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .button {
  background: #fff;
  color: #ff4500;
  padding: 15px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
}

main .button:hover {
  background: #ff4500;
  color: #fff;
}

/* Footer */
footer p {
  margin-top: 50px;
  font-size: 14px;
  color: #fff;
}

/* Postavke za fiksiranje footera na dnu */
body, html {
  height: 100%;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ff4500;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Raspored elemenata vertikalno */
  justify-content: center;
  align-items: center;
}

footer div {
  margin: 5px 0; /* Razmak između elemenata */
}

/* Dropdown meni za korisničke opcije */
#user-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 150px;
  display: none; /* Skriven po defaultu */
  border-radius: 5px;
}

#user-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #ddd;
}

#user-menu a:hover {
  background-color: #f0f0f0;
}






